html {
  caret-color: #0a0a0a;  /* hide the text cursor by giving it the same color than the background */
}

body {
  box-sizing: border-box;
  width: 100%;
  margin: 0 auto 0 auto;
  padding: 0;
  background-color: #0a0a0a;
}

div#background {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: #0a0a0a;
  z-index: -1;
}

/*********************************** HEADER ***************************************/
header {
  z-index: 10;
  position: fixed;
  top: 0;
  background-color: #0a0a0a;
  width: inherit;
  height: 6%;
  margin: 0;
  padding: 20px 0;
}

header > h1 {
  position: fixed;
  top: 15px;
  left: 10px;
  font-size: 40px;
  margin: 0;
  padding: 0;
  width: 17em;
  caret-color: #0a0a0a;  /* hide the text cursor by giving it the same color than the background */
}

header > p {
  text-align: center;
  height: 1.5em;
  box-sizing: border-box;
  width: 40vw;
  font: noto;
  font-style: italic;
  margin: 5px 0 0 45vw;
  padding: 0;
  background-color: #0a0a0a;
  caret-color: #0a0a0a;  /* hide the text cursor by giving it the same color than the background */
}

button#menu_button {
  position: fixed;
  top: 20px;
  right: 10px;
  margin-right: 20px;
  font: inherit;
  font-size: 30px;
  width: 4em;
  padding: 0.2em 0;
  border: 1px solid #f2f2f2;
  color: #e5e5e5;
  background-color: #0a0a0a;
}

button#menu_button:hover {
  background-color: #1a1a1a;
}

/*********************************** ASIDE MENU ***************************************/
aside {
  z-index: -20;
  position: fixed;
  top: 0;
  left: 0;
}

div.glass {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(26, 26, 26, 0.3);
}

aside > div#menu_div {
  position: fixed;
  top: 0;
  right: 0;
  height: 100vh;
  width: 25%;
  background-color: #0a0a0a;
  border-left: 1px solid #f2f2f2;
  padding-left: 30px;
}

aside > div#menu_div > h2 {
  width: 80%;
  margin-bottom: 0.5em;
}

aside > div#menu_div button {
  display: block;
  font: inherit;
  font-size: 25px;
  text-align: left;
  width: 80%;
  padding: 0.5em 0 0.5em 10px;
  margin-left: 0;
  color: #e5e5e5;
  border: 0;
  background-color: #0a0a0a;
}

aside > div#menu_div button:hover {
  background-color: #1a1a1a;
}

/*********************************** MAIN ***************************************/
main {
  z-index: 0;
  background-color: #0a0a0a;
  padding: 4% 20px 0 20px;
}

div#session_template {
  position: fixed;
  z-index: -20;
}

h2 {
  font-size: 35px;
  text-align: left;
  margin: 30px auto 0 0;
  padding: 0;
  border-bottom: solid 1px #f2f2f2;
}

h3 {
  font-size: 30px;
  text-align: left;
  margin: 10px auto 0 30px;
  padding: 0;
  border-bottom: solid 1px #f2f2f2;
}

div.sessions_set {
  margin: 20px;
  display: grid;
  grid-template-columns: repeat(auto-fill, 200px);
  grid-gap: 40px;
  grid-auto-rows: minmax(100px, auto);
}

div.session > div.image,
p#create_session_image {
  position: relative;
  width: 100%;
  aspect-ratio: 1;
  margin: 15px auto;
  border: solid 1px #f2f2f2;
}

img.graph {
  position: absolute;
  width: 100%;
}

p#create_session_image {
  background-color: #383838;
  caret-color: #383838;  /* hide the text cursor by giving it the same color than the background */
  width: 100%;
  aspect-ratio: 1;
  text-align: center;
  font-size: 100px;
  line-height: 2;
}

div.session > div.image > div.session_actions {
  position: absolute;
  z-index: -15;
  width: 100%;
  aspect-ratio: 1;
  display: grid;
  grid-template-columns: 1fr;
  grid-template-rows: repeat(4, 1fr);
  background-color: rgba(16, 16, 16, 0.6);
}

div.session > div.image > div.session_actions > button {
  font-size: 20px;
  border: 0;
  text-align: left;
  padding-left: 20px;
  background-color: rgba(0, 0, 0, 0);
}

div.session > div.image > div.session_actions > button:hover {
  background-color: rgba(26, 26, 26, 0.6);
  text-align: center;
}

div#session_actions_glass {
  z-index: -14;
  background-color: rgba(16, 16, 16, 0.3);
}

p {
  padding: 0;
  margin: 10px 0;
  font-family: noto;
  font-size: 20px;
  line-height: 1;
  letter-spacing: 1px;
  text-align: left;
  max-height: 4em;
  overflow: hidden;
  text-overflow: ellipsis;
}

p.session_title {
  font-size: 22px;
}

/*********************************** PROMPTS ***************************************/
div.prompt {
  z-index: -30;
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  grid-gap: 0;
  grid-template-rows: 1fr 1fr 1fr;
}

/* With display: grid, we place the prompt in the middle of the screen : grid-column: 2 and grid-row: 2 */
div.prompt > div {
  grid-column: 2;
  grid-row: 2;
  width: 100%;
  height: 100%;
  background-color: #0a0a0a;
  border: solid 2px #f2f2f2;
  padding: 0;
}

div.prompt textarea {
  width: 800px;
  height: 55px;
}

div.prompt > div > button.close {
  float: right;
  margin: 10px 10px 0 0;
  border: 0;
  padding: 0;
  width: 1em;
}

/* Now we consider the prompt's elements : title, text, input, button */
div.prompt > div > div {
  box-sizing: border-box;
  padding: 5% 10%;
}

div.prompt h2 {
  margin: 0 0 2% 0;
  text-align: center;
}

div.prompt label,
div.prompt input {
  display: block;
  font-family: noto;
  font-size: 24px;
  margin-top: 0.5em;
}

.input > div > label {
  font-size: 18px;
}

#button_add_decree_end {
  width: 150px;
  margin: 0 auto;
}

div.prompt select {
  margin: 10px 0 20px 0;
  padding: 5px 10px;
  font: inherit;
  font-family: noto;
  font-size: 20px;
  color: #f2f2f2;
  background-color: #0a0a0a;
}

div.prompt select > option {
  font: inherit;
  font-family: noto;
  background-color: #0a0a0a;
}

/* For the prompt bottom buttons */ 
div.prompt > div > div > div {
  margin-top: 7%;
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  grid-gap: 0;
}

div.prompt hr {
  width: 200px;
}

div.prompt p {
  text-align: center;
}

div.prompt > div > div > div.two_buttons {
  grid-template-columns: repeat(2, 1fr);
  grid-gap: 5%;
}

div.prompt > div > div > div.one_button > button {
  grid-column: 2;
}

/* Specification for the account create prompt */
div.prompt#account_create_prompt > div > div {
  width: 45vw;
}

div.prompt#password_change_prompt > div > div {
  width: 40vw;
}

div.prompt form {
  display: flex;
  flex-direction: column;
  width: 100%;
}

div.prompt form > div {
  display: flex;
  flex-direction: row;
  width: 95%;
}

div.prompt form > div > p {
  position: relative;
  top: -10px;
  left: 15px;
  text-align: center;
  width: 100%;
  margin: 0;
  font-style: italic;
  color: #cc0000;
  caret-color: #0a0a0a;  /* hide the text cursor by giving it the same color than the background */
}

div.prompt form > div.input > * {
  flex: 1;
  margin: 10px 20px;
}

div.prompt form > div.input > label {
  text-align: center;
}

div.prompt form > div.input > input[type="text"],
div.prompt form > div.input > input[type="password"] {
  width: 100%;
  height: 1em;
}

div.prompt form > div.input > input.two_lines {
  margin-top: 1.2em;
}

div.prompt form > div.input > div {
  display: flex;
  flex-direction: row;
}

div.prompt form > div.input > div > * {
  margin: 0;
  flex: 1;
}

div.prompt form > div.input > div > input[type="radio"] {
  margin-top: 0.4em;
  height: 0.7em;
}

div.prompt form > div#privileges_description {
  position: relative;
  font-family: noto;
  font-size: 20px;
  width: 87%;
  height: 7em;
  margin: 10px 2vw;
  border: dashed 1px #f2f2f2;
}

div.prompt div.cover {
  position: fixed;
  z-index: 0;
  background-color: #0a0a0a;
  width: 31vw;
  height: inherit;
}

div.prompt form > div#privileges_description > div {
  position: fixed;
  z-index: -10;
}

div.prompt form > div#privileges_description > div#privileges_1 {
  z-index: 10;
}

div.prompt h4 {
  margin: 5px 10px;
  font-size: 22px;
}

div.prompt ul {
  margin: 5px 10px;
}

div.prompt div.buttons {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-around;
  width: 100%;
  margin-top: 5px;
}

#privacy-info {
  text-align: left;
}

.hidden {
  display: none !important;
}

#scenario_create_prompt h3 {
  text-align: center;
  margin: 0;
  border: 0;
}

.scenario_figure
{
  display: block;
  margin: -20px auto;
  margin-bottom: -10px;
  width: 65%;
  position: relative;
  bottom: 25px;
}