
#container {
  height: 100%;
  width: 100%;
}

body {
  overflow: hidden;
}

/* Center the graph network on the page */
#main {
  /* border: 1px solid red; */
  display: flex;
  flex-direction: line;
  box-sizing:border-box;
}

/* Set the size of the graph network */
#graph {
  position: absolute;
  transform-origin: top left;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  height: 300vh;
  width: 300vw;
  z-index: -1;
}

#text-box {
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  position: fixed;
  top: 0;
  right: 0;
  
  max-height: 72vh;
  width: 25vw;
  /* border: 1px solid blue; */
}

#messages {
  border: 1px solid #f2f2f2;
  overflow-y: auto;
  background: black;
  margin: 10px;
}

element.style {
  margin-top:30px;
}

div > h3{
  padding: 10px;
  margin-bottom: 5px;
}

#messages-inside{
  border-top: 1px solid #f2f2f2;
  padding: 0px 10px;
}

#node-title {
  border-top: 3px solid white;
  margin-top: 20px;
  padding-top: 20px;
  margin-left: 5px;
  margin-right: 5px;
}

#node-author {
  font-size: 16px;
}

#node-info {
  height: fit-content;
  margin: 0;
  justify-content: center;
  text-align: center;
  overflow:auto;
}

#node-info > h4 {
  margin: 10px 0;
}

#node-info > div {
  font-family: noto;
  margin-left: 10px;
}

#node-text {
  margin-bottom: 30px;
  text-align: left;
}


/* Style the form */
#add-node-form {
  display: block;
  flex-direction: column;
  justify-content: center;
  height: fit-content;
  width: 100%;
}

#add-node-form .input {
  font-family: noto;
  padding: 5px;
  margin: 5px;
  font-size: 15px;
  background-color: black;
  color:white;
  width: 90%;
  border-radius: 10px;
  border: 1px solid #eee;
  margin-bottom: 8px;
  align-self: left;
}

#add-node-form ::placeholder {
  color:white;
  opacity:0.7;
}

#add-node-form input[type="text"] {
  padding-left: 5px;
}

#add-node-form label {
  font-size: 14px;
  margin: 5px;
}

#add-node-form textarea {
  width: 90%;
  height: 100px;
  max-width: 90%;
  min-width: 90%;
  min-height: 50px;
}

button {
  padding: 5px;
  margin: 5px;
}

.title-with-toggle {
  display:inline-block;
  cursor:pointer;
  font-size: 20px;
}

#add-node-button {
  padding: 8px 17px;
  text-align: center;
  text-decoration: none;
  display: block;
  font-size: 16px;
  margin-left: 5px;
  cursor: pointer;
  border-radius: 10px;
  border: 1px solid #eee;
}


textarea{
  width: 90%;
  height: 100px;
  padding-right: 50px;
}

/* style for the scrollbar */

/* width */
::-webkit-scrollbar {
  width: 10px;
}

/* Track */
::-webkit-scrollbar-track {
  background: black; 
  box-shadow: inset 0 0 1px rgb(204, 207, 206); 
}
 
/* Handle */
::-webkit-scrollbar-thumb {
  background: white; 
}

/* Handle on hover */
::-webkit-scrollbar-thumb:hover {
  background: rgb(204, 207, 206); 
}

.locale-switch, .locale-toggle {
  position: fixed;
  bottom: 6px;
  right: 11px;
  font-size: 16px;
}


/* style for the zoom */

#title_for_zoom {
  position: fixed;
  bottom: 96px;
  right: 30px;
  font-size: 16px;
}

#zoom {
  margin: 25px;
  position: fixed;
  width: 22px;
  bottom: 70px;
  right: 20px;
  -webkit-transform: translateZ(0);
  transform: translateZ(0);
}

#zoom span {
  display: block;
    height: 33px;
    width: 33px;
    font-size: 25px;
    left: 0;
    overflow: hidden;
    position: absolute;
    padding: 0px 6px;
    cursor: pointer;
    box-sizing: border-box;
    border-radius: 56px;
    border: solid 2px white;
    margin-top: 7px;
}

#zoom span+span {
  position: fixed;
  right: 0;
  bottom: 0px;
}

#zoom span:hover {
  font-weight: bold;
}

/* style for the toggle */

#title_for_toggle {
  position: fixed;
  bottom: 170px;
  right: 23px;
  font-size: 16px;
}

#toggle-titles .switch {
  position: fixed;
  display: inline-block;
  width: 60px;
  height: 34px;
  bottom: 170px;
  right: 20px;
}

#toggle-titles .switch input { 
  opacity: 0;
  width: 0;
  height: 0;
}

#toggle-titles .slider {
  position: absolute;
  cursor: pointer;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background-color: black;
  -webkit-transition: .4s;
  transition: .4s;
}

#toggle-titles .slider:before {
  position: absolute;
  content: "";
  height: 25px;
  width: 25px;
  left: 2px;
  bottom: 3px;
  background-color: white;
  -webkit-transition: .4s;
  transition: .4s;
}

#toggle-titles input:checked + .slider {
  background-color: #025d3c;
}

#toggle-titles input:focus + .slider {
  box-shadow: 0 0 1px black;
}

#toggle-titles input:checked + .slider:before {
  -webkit-transform: translateX(26px);
  -ms-transform: translateX(26px);
  transform: translateX(26px);
}

/* Rounded sliders */
#toggle-titles .slider.round {
  border-radius: 34px;
  border: solid 2px white;
}

#toggle-titles .slider.round:before {
  border-radius: 50%;
}


/* Style dialog - décrets et fin */

#session_dialog {
  position: absolute;
  top: 52%;
  left: 50%;
  width: 50vw;
  transform: translate(-50%, -50%);
  border: 1px solid #f2f2f2;
  padding: 20px;
  text-align: center;
  background-color: #0a0a0a;
  color:white;
}

dialog > button.close {
  position: absolute;
  top: 5px;
  right: 5px;
  border: 0;
  padding: 0;
  font-size: 20px;
  border: none;
}

/* STYLE FOR THE INTRODUCTION */

/* INTRODUCTION : text-box in the middle of the page */
#text-box-intro, #text-box-prologue {
  position: absolute;
  top: 52%;
  left: 50%;
  width: 40vw;
  transform: translate(-50%, -50%);
  border: 1px solid #f2f2f2;
  padding: 20px;
  text-align: center;
  background-color: #0a0a0a;
}

p {
  font-size: 15px;
  text-align: left;
}

/* Add animation to "page content" */
#text-box-intro .animate-bottom {
  position: relative;
  -webkit-animation-name: animatebottom;
  -webkit-animation-duration: 3s;
  animation-name: animatebottom;
  animation-duration: 3s
}

@-webkit-keyframes animatebottom {
  from { top:-0%; opacity:0 } 
  to { top:52%; opacity:1 }
}

@keyframes animatebottom { 
  from{ top:-0%; opacity:0 } 
  to{ top:52%; opacity:1 }
}

#text-box-intro .loader {
  max-width: 15rem;
  width: 100%;
  height: auto;
  stroke-linecap: round;
}

#text-box-intro circle {
  fill: none;
  stroke-width: 3.5;
  -webkit-animation-name: preloader;
          animation-name: preloader;
  -webkit-animation-duration: 3s;
          animation-duration: 3s;
  -webkit-animation-iteration-count: infinite;
          animation-iteration-count: infinite;
  -webkit-animation-timing-function: ease-in-out;
          animation-timing-function: ease-in-out;
  transform-origin: 170px 170px;
  will-change: transform;
}
#text-box-intro circle:nth-of-type(1) {
  stroke-dasharray: 550px;
}
#text-box-intro circle:nth-of-type(2) {
  stroke-dasharray: 500px;
}
#text-box-intro circle:nth-of-type(3) {
  stroke-dasharray: 450px;
}
#text-box-intro circle:nth-of-type(4) {
  stroke-dasharray: 300px;
}
#text-box-intro circle:nth-of-type(1) {
  -webkit-animation-delay: -0.15s;
          animation-delay: -0.15s;
}
#text-box-intro circle:nth-of-type(2) {
  -webkit-animation-delay: -0.3s;
          animation-delay: -0.3s;
}
#text-box-intro circle:nth-of-type(3) {
  -webkit-animation-delay: -0.45s;
          animation-delay: -0.45s;
}
#text-box-intro circle:nth-of-type(4) {
  -webkit-animation-delay: -0.6s;
          animation-delay: -0.6s;
}

@-webkit-keyframes preloader {
  50% {
    transform: rotate(360deg);
  }
}

@keyframes preloader {
  50% {
    transform: rotate(360deg);
  }
}