#container {
  height: 100%;
  width: 100%;
}

/* INTRODUCTION : text-box in the middle of the page */
#text-box-intro, #text-box-prologue {
  position: absolute;
  top: 52%;
  left: 50%;
  width: 70vw;
  transform: translate(-50%, -50%);
  border: 1px solid #f2f2f2;
  padding: 20px;
  text-align: center;
  background-color: #0a0a0a;
}

p {
  font-size: 15px;
  text-align: left;
}

/* Add animation to "page content" */
.animate-bottom {
  position: relative;
  -webkit-animation-name: animatebottom;
  -webkit-animation-duration: 3s;
  animation-name: animatebottom;
  animation-duration: 3s
}

@-webkit-keyframes animatebottom {
  from { top:-0%; opacity:0 } 
  to { top:52%; opacity:1 }
}

@keyframes animatebottom { 
  from{ top:-0%; opacity:0 } 
  to{ top:52%; opacity:1 }
}

.loader {
  max-width: 15rem;
  width: 100%;
  height: auto;
  stroke-linecap: round;
}

circle {
  fill: none;
  stroke-width: 3.5;
  -webkit-animation-name: preloader;
          animation-name: preloader;
  -webkit-animation-duration: 3s;
          animation-duration: 3s;
  -webkit-animation-iteration-count: infinite;
          animation-iteration-count: infinite;
  -webkit-animation-timing-function: ease-in-out;
          animation-timing-function: ease-in-out;
  transform-origin: 170px 170px;
  will-change: transform;
}
circle:nth-of-type(1) {
  stroke-dasharray: 550px;
}
circle:nth-of-type(2) {
  stroke-dasharray: 500px;
}
circle:nth-of-type(3) {
  stroke-dasharray: 450px;
}
circle:nth-of-type(4) {
  stroke-dasharray: 300px;
}
circle:nth-of-type(1) {
  -webkit-animation-delay: -0.15s;
          animation-delay: -0.15s;
}
circle:nth-of-type(2) {
  -webkit-animation-delay: -0.3s;
          animation-delay: -0.3s;
}
circle:nth-of-type(3) {
  -webkit-animation-delay: -0.45s;
          animation-delay: -0.45s;
}
circle:nth-of-type(4) {
  -webkit-animation-delay: -0.6s;
          animation-delay: -0.6s;
}

@-webkit-keyframes preloader {
  50% {
    transform: rotate(360deg);
  }
}

@keyframes preloader {
  50% {
    transform: rotate(360deg);
  }
}

div.sessions_set {
  margin: 20px;
  display: grid;
  grid-template-columns: repeat(auto-fill, 200px);
  grid-gap: 40px;
  grid-auto-rows: minmax(100px, auto);
}

div.session > div.image{
  position: relative;
  width: 100%;
  aspect-ratio: 1;
  margin: 15px auto;
  border: solid 1px #f2f2f2;
}

img.graph {
  position: absolute;
  width: 100%;
}

p.session_title {
  font-size: 22px;
  margin-bottom: 0;
}

p.scenario_title {
  margin-top: 0;
}

div.session {
  cursor:pointer;
}

#text_presentation p, #text_animation p {
  width: 1010px;
}

a {
  color: rgba(232, 232, 232, 0.52)
}

a:hover {
  text-decoration: none;
}