/* old
@font-face {
  font-family: "altertype";
  src: url("../fonts/altertype_DOUBLE_JE-Regular.woff2") format("woff2");
}
*/

@font-face {
  font-family:"altertype";
  src: url("../fonts/altertype_V2-Regular.otf") format("opentype");
}

@font-face {
  font-family: "noto";
  src: url("../fonts/NotoSans-Regular.ttf") format("truetype");
}

@font-face {
  font-family: "pictsicons";
  src: url("../fonts/pictosicons-Regular.woff2") format("woff2");
}

html {
  font-size: 16px;
  font-family: altertype, noto, sans-serif;
  color: #e5e5e5;
  background-color: #0a0a0a;
}

p {
  font-family: noto, sans-serif;
}

button {
  font: inherit;
  font-size: 20px;
  width: auto;
  padding: .2em;
  margin: 10px 0px;
  border: 1px solid #f2f2f2;
  color: #e5e5e5;
  background-color: #0a0a0a;
  cursor: pointer;
}

.button--loading::after {
  content: "";
  position: absolute;
  width: 16px;
  height: 16px;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  margin: auto;
  border: 4px solid transparent;
  border-top-color: #ffffff;
  border-radius: 50%;
  animation: button-loading-spinner 1s ease infinite;
}

@keyframes button-loading-spinner {
  from {
    transform: rotate(0turn);
  }

  to {
    transform: rotate(1turn);
  }
}

button:hover {
  background-color: #1a1a1a;
}

#about {
  position: fixed;
  bottom: 0px;
  left: 0px;
  padding: 5px;
  /* width: 100px; */
  background-color: #0a0a0a;
  z-index: 1;
}

#button-about-ouvert, #button-about-ouvert:active, #button-about-ouvert:focus, #button-about-ferme, #button-about-ferme:active, #button-about-ferme:focus {
  font-size: 15px;
  border: none;
  width: inherit;
  font-size: 16px;

}

#button-about-ouvert:hover, #button-about-ferme:hover{
  background-color: #0a0a0a;
  text-decoration: underline;
}

#about-text {
  width: 800px;
  height: fit-content;
  border: none;
}

#about-text p {
  font-size: 13px;
  text-align: left;
}

#button-hide{
  position: fixed;
  top: 0;
  right: 10px;
  font-size: 30px;
  border: none;
}


/*********************************** HEADER WITH TITLE: BABEL REVOLUTION ***************************************/
#graph_header {
  position:fixed;
}

header {
  display: block;
  width: 650px;
  height: fit-content;
}

header > div > img {
  width: 50%;
  cursor: pointer;
  caret-color: #0a0a0a;  /* hide the text cursor by giving it the same color than the background */
}

/* LANGUAGE SWITCH */

.language-switch {
  position: relative;
  display: inline-block;
  margin: 0 5px;
}

.language-switch > span {
  position: absolute;
  top: 8px;
  pointer-events: none;
  font-family: 'Helvetica', Arial, sans-serif;
  font-weight: bold;
  font-size: 22px;
  text-transform: uppercase;
  text-shadow: 0 1px 0 rgba(0, 0, 0, .06);
  width: 50%;
  text-align: center;
}

.language-switch > span.FRA {
  left: 0;
  padding-left: 2px;
}

.language-switch > span.ENG {
  right: 0;
  padding-right: 4px;
}

.check-toggle {
  position: absolute;
  margin-left: -9999px;
  visibility: hidden;
}
.check-toggle + label {
  display: block;
  position: relative;
  cursor: pointer;
  outline: none;
  user-select: none;
}

input.check-toggle-round-flat + label {
  padding: 2px;
  width: 97px;
  height: 35px;
  border: 2px solid gray;
  border-radius: 60px;
}
input.check-toggle-round-flat + label:before, input.check-toggle-round-flat + label:after {
  display: block;
  position: absolute;
  content: "";
}

input.check-toggle-round-flat + label:before {
  top: 2px;
  left: 2px;
  bottom: 2px;
  right: 2px;
  border-radius: 60px;
}
input.check-toggle-round-flat + label:after {
  top: 4px;
  left: 4px;
  bottom: 4px;
  width: 48px;
  background-color: #fff;
  border-radius: 52px;
  transition: margin 0.2s;
}

input.check-toggle-round-flat:checked + label:after {
  margin-left: 44px;
}